                                          Python Practice:
                                       (Syed Qasim Raza fatimi)

In [1]:
print("\U0001f601")

ðŸ˜

In [2]:
print("i \n\tam \n\t \ta \n\t\t\tProgrammer")

i
	am
	 	a
			Programmer

In [3]:
print(2**3)

8

In [4]:
print (round(2**3.5,7))

11.3137085

# String

In [5]:
print("Ali"+"Raza")

AliRaza

In [6]:
Name=input('Enter your name:')

Enter your name:qasim

In [7]:
Age,name=input('Enter age and name split them using space:').split()

Enter age and name split them using space:23 qasim

In [8]:
Name="qasim"
Age=23
print("Name:{}\tAge:{}".format(Name,Age))

Name:qasim	Age:23

In [9]:
str="Qasim"
print(str[0])
print(str[1:3])
print(str[3:5])
print(str[1:3:5])

Q
as
im
a

In [10]:
str_rev=str[::-1]
str_rev

'misaQ'

In [11]:
print('My name is "Qasim" and i\'m a programmer.')

My name is "Qasim" and i'm a programmer.

In [12]:
len(str)

5

In [13]:
str.upper()

'QASIM'

In [14]:
str.lower()

'qasim'

In [15]:
str.title()

'Qasim'

In [16]:
str2= " my name is qasim "
str2

' my name is qasim '

In [17]:
str2.lstrip()

'my name is qasim '

In [18]:
str2.rstrip()

' my name is qasim'

In [19]:
str2.strip()

'my name is qasim'

In [20]:
str2.replace("qasim","Raza")

' my name is Raza '

In [21]:
str2.find("is")

9

In [22]:
str2.center(len(str2)+12,"*")

'****** my name is qasim ******'

# Conditional Statements

In [23]:
age=int(input("Enter your age:"))

if age > 33:
    
    print("age is greater than 33")
elif age ==33:
    print("Age equal to 33")
    
else:
    print("age is less than 33")

Enter your age:22
age is less than 33

In [24]:
a=2
b=7
print("A") if a>b else print("B")

B

# Itrators

In [25]:
name="qasim"
for i in range(0,12,2) :
    print(i,name)

0 qasim
2 qasim
4 qasim
6 qasim
8 qasim
10 qasim

In [26]:
number=[1,2,3,4,5]
sum=0
for n in number:
    sum=sum+n
    
print ("sum",sum)

sum 15

In [27]:
for x in range(6):
  print(x)
else:
 print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [28]:
a=int(input("Enter a number:"))
if a > 0:
    if a % 2 == 0:
        print('A is a positive and even integer')
    else:
        print('A is a positive number')
elif a == 0:
    print('A is zero')
else:
    print('A is a negative number')

Enter a number:1
A is a positive number

# Nested For

In [29]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:    
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [5]:
row=6
for i in range(row):
    for j in range (i):
        print(end="#")
    print('')

#
##
###
####
#####

In [31]:
row=6
for i in range(row):
    for j in range (i):
        print(i,end=" ")
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [32]:
row=6
for i in range(1,row+1):
    for j in range (1,i+1):
        print(j,end=" ")
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [33]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [34]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(j, end=' ')
    print('\r')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [35]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(i, end=' ')
    print('\r')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [36]:
rows = 5
b = 0
for i in range(rows+1):
    b += 1
    for j in range(1, i + 1):
        print(row, end=' ')
    print('\r')

6
6 6
6 6 6
6 6 6 6
6 6 6 6 6

In [37]:
for i in range(0,10):
    if i%2==0:
        print(i)

0
2
4
6
8

# Program

In [38]:
user = input("totel number of friend = ")
type(user)
summ = 0
for i in range(int(user)):
    money=int(input("Enter Money:"))
    print(money)
    summ = summ + money
    print("Sum",summ)   
if summ>1500:
   print("Order Pizza")
else:
  print("Get more Money")

totel number of friend = 1
Enter Money:222
222
Sum 222
Get more Money

# While

In [39]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [40]:
i=1
while i <= 5:
    print(i)
    i=i+1

1
2
3
4
5

In [41]:
print(type(i))

<class 'int'>

In [42]:
bool({})

False

# List

In [43]:
mylist=['qasim','haider','Raza',"apple", "banana", "cherry"]
print(mylist)
mylist.append('khawer')
print(mylist)

['qasim', 'haider', 'Raza', 'apple', 'banana', 'cherry']
['qasim', 'haider', 'Raza', 'apple', 'banana', 'cherry', 'khawer']

In [44]:
print(mylist[1])

haider

In [45]:
print(mylist[2:5])

['Raza', 'apple', 'banana']

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [47]:
print(mylist[-1])

khawer

In [48]:
print(mylist[:2])

['qasim', 'haider']

In [49]:
print (mylist[2:])

['Raza', 'apple', 'banana', 'cherry', 'khawer']

In [50]:
mylist[1:3]=['Ahmed ','hassan']
mylist

['qasim', 'Ahmed ', 'hassan', 'apple', 'banana', 'cherry', 'khawer']

In [51]:
mylist[1:3]=["khawer"]
mylist

['qasim', 'khawer', 'apple', 'banana', 'cherry', 'khawer']

In [52]:
mylist.insert(2,"orange")
mylist

['qasim', 'khawer', 'orange', 'apple', 'banana', 'cherry', 'khawer']

In [53]:
list2=['taqi','baqir','wasi']
print(list2)

['taqi', 'baqir', 'wasi']

In [54]:
mylist.extend(list2)
print(mylist)

['qasim', 'khawer', 'orange', 'apple', 'banana', 'cherry', 'khawer', 'taqi', 'baqir', 'wasi']

In [55]:
mylist.remove("cherry")
mylist

['qasim',
 'khawer',
 'orange',
 'apple',
 'banana',
 'khawer',
 'taqi',
 'baqir',
 'wasi']

In [56]:
mylist.pop()
mylist

['qasim', 'khawer', 'orange', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [57]:
del mylist[2]
mylist

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [58]:
mylist

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

# loop list

In [59]:
mylist

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [60]:
for i in mylist:
    print(mylist)

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [61]:
for i in range(len(mylist)):
    print(mylist)

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']
['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [62]:
i = 0
while i < len(mylist):
  print(i,"->",mylist[i])
  i = i + 1

0 -> qasim
1 -> khawer
2 -> apple
3 -> banana
4 -> khawer
5 -> taqi
6 -> baqir

In [63]:
newlist=[]
for i in mylist:
    if "a" in i:
        newlist.append(i)
print(newlist)

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [64]:
newlist

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [65]:
list2=[x for x in range(10)]
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
newlist2=[x.upper() for x in newlist]
newlist2

['QASIM', 'KHAWER', 'APPLE', 'BANANA', 'KHAWER', 'TAQI', 'BAQIR']

In [67]:
newlist = [x if x != "BANANA" else "orange" for x in newlist2]
print(newlist)

['QASIM', 'KHAWER', 'APPLE', 'orange', 'KHAWER', 'TAQI', 'BAQIR']

In [68]:
newlist.sort()
newlist

['APPLE', 'BAQIR', 'KHAWER', 'KHAWER', 'QASIM', 'TAQI', 'orange']

In [69]:
newlist.sort(reverse=True)
newlist

['orange', 'TAQI', 'QASIM', 'KHAWER', 'KHAWER', 'BAQIR', 'APPLE']

In [70]:
newlist=list(mylist)
print (newlist)

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [71]:
mylist

['qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [72]:
list_f=mylist+newlist2
list_f

['qasim',
 'khawer',
 'apple',
 'banana',
 'khawer',
 'taqi',
 'baqir',
 'QASIM',
 'KHAWER',
 'APPLE',
 'BANANA',
 'KHAWER',
 'TAQI',
 'BAQIR']

In [73]:
for x in mylist:
    newlist2.append(x)
print(newlist2)

['QASIM', 'KHAWER', 'APPLE', 'BANANA', 'KHAWER', 'TAQI', 'BAQIR', 'qasim', 'khawer', 'apple', 'banana', 'khawer', 'taqi', 'baqir']

In [74]:
mylist.extend(list_f)
mylist

['qasim',
 'khawer',
 'apple',
 'banana',
 'khawer',
 'taqi',
 'baqir',
 'qasim',
 'khawer',
 'apple',
 'banana',
 'khawer',
 'taqi',
 'baqir',
 'QASIM',
 'KHAWER',
 'APPLE',
 'BANANA',
 'KHAWER',
 'TAQI',
 'BAQIR']

# List to string

In [2]:
lst3=['pakistan','england','poland']
mystr=""
for i in lst3:
    mystr+=i+" "
for item in lst3:
    if item.endswith("land"):
        print(item)

england
poland

# Nested Listed

In [75]:
nes_list=[['qasim','Raza'],['haider','khawer'],['wasi','khawer']]
for x in nes_list:
    print(x)

['qasim', 'Raza']
['haider', 'khawer']
['wasi', 'khawer']

In [76]:
len(nes_list)

3

In [77]:
import numpy as np

In [78]:
print("Shape:",np.shape(nes_list))

Shape: (3, 2)

In [79]:
type(nes_list)

list

In [80]:
list2= [['qasim','haider','asdf'],['Raza','khawer'],['ahmed','khawer']]
list2[1].append("qasim")
list2[2].append("haider")
list2

[['qasim', 'haider', 'asdf'],
 ['Raza', 'khawer', 'qasim'],
 ['ahmed', 'khawer', 'haider']]

In [81]:
list2[2].pop()
list2

[['qasim', 'haider', 'asdf'], ['Raza', 'khawer', 'qasim'], ['ahmed', 'khawer']]

In [82]:
list2[1].remove("qasim")
list2

[['qasim', 'haider', 'asdf'], ['Raza', 'khawer'], ['ahmed', 'khawer']]

In [83]:
list2[0].remove("haider")
list2

[['qasim', 'asdf'], ['Raza', 'khawer'], ['ahmed', 'khawer']]

In [3]:
lst=[]
x=0
for i in range(3):
    for i in range(3):
        x+=1
        lst.append(x)
        print(lst, end = '  ')
    print()

[1]  [1, 2]  [1, 2, 3]
[1, 2, 3, 4]  [1, 2, 3, 4, 5]  [1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]  [1, 2, 3, 4, 5, 6, 7, 8]  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
import random
lst=[0,1,2,3,4,5,6,7,8]
lst2=[0,1,2,3,4,5,6,7,8]
for i in range(len(lst)):
    item=random.choice(lst)
    print(item)
    lst.remove(item)
    print(lst)
    lst2[item]='x'
    print(f"""\n{lst2[:3]}\n{lst2[3:6]}\n{lst2[6:9]}""")

7
[0, 1, 2, 3, 4, 5, 6, 8]

[0, 1, 2]
[3, 4, 5]
[6, 'x', 8]
3
[0, 1, 2, 4, 5, 6, 8]

[0, 1, 2]
['x', 4, 5]
[6, 'x', 8]
0
[1, 2, 4, 5, 6, 8]

['x', 1, 2]
['x', 4, 5]
[6, 'x', 8]
1
[2, 4, 5, 6, 8]

['x', 'x', 2]
['x', 4, 5]
[6, 'x', 8]
5
[2, 4, 6, 8]

['x', 'x', 2]
['x', 4, 'x']
[6, 'x', 8]
4
[2, 6, 8]

['x', 'x', 2]
['x', 'x', 'x']
[6, 'x', 8]
2
[6, 8]

['x', 'x', 'x']
['x', 'x', 'x']
[6, 'x', 8]
8
[6]

['x', 'x', 'x']
['x', 'x', 'x']
[6, 'x', 'x']
6
[]

['x', 'x', 'x']
['x', 'x', 'x']
['x', 'x', 'x']

In [9]:
lst2=[0,1,2,3,4,5,6,7,8]
t=int(input('Enter Number from list:'))
for i in lst2:
    if i==t:
        lst2[i]='*'
print(f"""\n{lst2[:3]}\n{lst2[3:6]}\n{lst2[6:9]}""")

Enter Number from list:2

[0, 1, '*']
[3, 4, 5]
[6, 7, 8]

In [10]:
t=int(input('Enter Number from list:'))
for i in lst2:
    if i==t:
        lst2[i]='*'
    elif i=='*':
        print("change index")
      
print(f"""\n{lst2[:3]}\n{lst2[3:6]}\n{lst2[6:9]}""")

Enter Number from list:2
change index

[0, 1, '*']
[3, 4, 5]
[6, 7, 8]

In [64]:
try:
    def add():
        summ=0
        lst= []
        num = int(input('How many numbers::: '))
        for n in range(num):
            numbers =input('Enter number: ')
            lst.append(numbers)   
        for i in lst:
            summ=summ+i
        return summ
    print(add())

except TypeError:
    print('Type error occured')

How many numbers::: 2
Enter number: 3
Enter number: 2
Type error occured

## Program

In [84]:
import random

In [85]:
mylist=['Qorma','Biryani','karhai','Daal']
money=int(input("Enter Money:"))
if money>1500:
    print("....Order Pizza...")
else:
  print(random.choice(mylist))

Enter Money:2222
....Order Pizza...

# Tuples

In [86]:
mytup=("qasim","haider","Raza")
mytup

('qasim', 'haider', 'Raza')

In [87]:
len(mytup)

3

In [88]:
mytup[0]

'qasim'

In [89]:
mytup[-1]

'Raza'

In [90]:
mytup[0:2]

('qasim', 'haider')

In [91]:
mytup[2:]

('Raza',)

In [92]:
tpl = ('item1', 'item2', 'item3','item4')
lst = list(tpl)
lst

['item1', 'item2', 'item3', 'item4']

In [93]:
print('item2' in tpl)

True

In [94]:
tup2=mytup+tpl
tup2

('qasim', 'haider', 'Raza', 'item1', 'item2', 'item3', 'item4')

In [95]:
mytup.count('haider')

1

In [96]:
mytup.index('Raza')

2

# Sets:

In [97]:
myset={'qasim','haider','raza','khawer'}
myset

{'haider', 'khawer', 'qasim', 'raza'}

In [98]:
len(myset)

4

In [99]:
print("qasim" in myset)

True

In [100]:
myset.update(['wasi','hamza','iqrar','zia','baqir'])
myset

{'baqir', 'haider', 'hamza', 'iqrar', 'khawer', 'qasim', 'raza', 'wasi', 'zia'}

In [101]:
myset.remove("raza")
myset

{'baqir', 'haider', 'hamza', 'iqrar', 'khawer', 'qasim', 'wasi', 'zia'}

In [102]:
set2=myset.copy()
set2

{'baqir', 'haider', 'hamza', 'iqrar', 'khawer', 'qasim', 'wasi', 'zia'}

In [103]:
set2.clear

In [104]:
set2={'wasi','qasim','qorma'}
set2

{'qasim', 'qorma', 'wasi'}

In [105]:
st3 = myset.union(set2)
st3

{'baqir',
 'haider',
 'hamza',
 'iqrar',
 'khawer',
 'qasim',
 'qorma',
 'wasi',
 'zia'}

In [106]:
set4=myset.intersection(set2)
set4

{'qasim', 'wasi'}

In [107]:
myset.issubset(set4)

False

In [108]:
myset.issuperset(set4)

True

In [109]:
myset.difference(set4)

{'baqir', 'haider', 'hamza', 'iqrar', 'khawer', 'zia'}

In [110]:
myset.symmetric_difference(set4)# it means (A\B)âˆª(B\A)

{'baqir', 'haider', 'hamza', 'iqrar', 'khawer', 'zia'}

In [111]:
myset.isdisjoint(set4)

False

# Dictionary

In [112]:
mydic={"friend1":"haider","friend2":"khawer","friend3":"raza","friend4":"wasi"}
mydic

{'friend1': 'haider',
 'friend2': 'khawer',
 'friend3': 'raza',
 'friend4': 'wasi'}

In [113]:
friend={"Name":'haider',
        "Adress":"karadla",
        'is married':False,
        'Age':22,
        'skills':['python','html','java script','sql']
        
       }
friend

{'Name': 'haider',
 'Adress': 'karadla',
 'is married': False,
 'Age': 22,
 'skills': ['python', 'html', 'java script', 'sql']}

In [114]:
len(mydic)

4

In [115]:
print(mydic["friend1"])

haider

In [116]:
mydic["friend2"]='hamza'
mydic

{'friend1': 'haider', 'friend2': 'hamza', 'friend3': 'raza', 'friend4': 'wasi'}

In [117]:
mydic['friend2']='iqrar'
mydic

{'friend1': 'haider', 'friend2': 'iqrar', 'friend3': 'raza', 'friend4': 'wasi'}

In [118]:
print('friend1'in mydic)

True

In [119]:
mydic.pop('friend3')

'raza'

In [120]:
mydic.popitem()

('friend4', 'wasi')

In [121]:
del mydic['friend1']

In [122]:
mydic

{'friend2': 'iqrar'}

In [123]:
dic={"friend1":"haider","friend2":"khawer","friend3":"raza","friend4":"wasi"}
dic

{'friend1': 'haider',
 'friend2': 'khawer',
 'friend3': 'raza',
 'friend4': 'wasi'}

In [124]:
print(dic.items())

dict_items([('friend1', 'haider'), ('friend2', 'khawer'), ('friend3', 'raza'), ('friend4', 'wasi')])

In [125]:
dic2=dic.copy()
dic2

{'friend1': 'haider',
 'friend2': 'khawer',
 'friend3': 'raza',
 'friend4': 'wasi'}

In [126]:
dic2.clear()
dic2

{}

In [127]:
del dic2

In [128]:
dic.keys()

dict_keys(['friend1', 'friend2', 'friend3', 'friend4'])

In [129]:
dic.values()

dict_values(['haider', 'khawer', 'raza', 'wasi'])

In [130]:
print(dic.get("friend3"))

raza

# Loop in dictionaries

In [131]:
person={'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value)

first_name
last_name
age
country
is_marred
skills
address
first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

In [132]:
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

JavaScript
React
Node
MongoDB
Python

# Functions

In [133]:
def area():
    length=int(input("Enter the length:"))
    height=int(input("Enter the height:"))
    square=length*height
    return square
print("Area of square:",area())

Enter the length:2
Enter the height:2
Area of square: 4

In [134]:
def calculator(x,y,z):
    if z=="+":
        return x+y
    if z=="-":
        return x-y
    if z=="*":
        return x*y
    if z=="/":
        return x/y
    if z=="**":
        return x**y
    else:
        print("Invalid entry")
x=int(input("Enter No.1:"))
y=int(input("Enter No.2:"))
z=input("Enter your choice(+,-,*,/,**):::")
print(calculator(x,y,z))

Enter No.1:1
Enter No.2:2
Enter your choice(+,-,*,/,**):::-
-1

In [135]:
def area_of_circle (r):
    PI = 3.14
    area = PI*r**2
    return area
r=float(input("Enter the radius::"))
print(area_of_circle(r))

Enter the radius::1
3.14

In [136]:
def add_two_numbers (num1, num2): 
    total = num1 + num2
    return total
print(add_two_numbers(2, 3))

5

In [137]:
fruits=["Apple","Apple","Orange","Strawberry","Strawberry","Banana","Apple"]
d={}
for x in fruits:
    d[x] = d.get(x,0) + 1
d

{'Apple': 3, 'Orange': 1, 'Strawberry': 2, 'Banana': 1}

In [138]:
def transp(matrix):
    for i in range(len(matrix)):
        for j in range(len(matrix[0])):
            result[j][i]=matrix[i][j]
data = [
[1,2,3],
[1,2,3],
[1,2,3],
]
result=[[0,0,0],[0,0,0],[0,0,0]]
transp(data)
for i in result:
    print(i)

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

# Modules:

In [139]:
import os

In [142]:
import math

In [143]:
print("sqaure",math.sqrt(144))

sqaure 12.0

In [144]:
print(math.pow(2,4))

16.0

In [145]:
print(math.log10(3))

0.47712125471966244

In [146]:
from math import pi

In [147]:
pi

3.141592653589793

In [148]:
from math import * #to import all function of math module

In [149]:
sqrt(3)

1.7320508075688772

In [150]:
pow(45,2)

2025.0

In [151]:
import string

In [152]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [153]:
string.digits

'0123456789'

In [154]:
from random import random ,randint

In [155]:
print(random())

0.5076713209574506

In [156]:
print(randint(2,8))

8

In [157]:
from mymodule import add_two_numbers

In [158]:
add_two_numbers(2,4)

6

# List Comprehension

In [159]:
name='Qasim'
lst=list(name)
print(lst)

['Q', 'a', 's', 'i', 'm']

In [160]:
lst2=[i for i in name]
lst2

['Q', 'a', 's', 'i', 'm']

In [161]:
lst3=[i for i in range(5)]
lst3

[0, 1, 2, 3, 4]

In [162]:
lst4=[(i,i*i) for i in range(5)]
lst4

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [163]:
even=[i for i in range(10) if i%2==0]
even

[0, 2, 4, 6, 8]

# Lambda Function

In [164]:
add=lambda x,y,z:x+y+z
print(add(2,3,4))

9

In [165]:
square=lambda x:x**2
print(square(4))

16

In [166]:
square(5)

25

In [167]:
multiple_variable = lambda a, b, c: a ** 2 - 3 * b + 4 * c
print(multiple_variable(5, 5, 3))

22

# Higer order Functions:

In [168]:
def square (n):
    return n * n
def sec_func(f, x):
    return f(x)
print(sec_func(square, 3))

9

In [169]:
def func(x):
    return x
def func2(y,lst5):
    return y(lst5)
res=func2(func,[2,4,5,6,6])
res

[2, 4, 5, 6, 6]

In [170]:
def sqrt(n):
    for i in range(1, n+1):
        if (n % i == 0) and (i * i == n):
            return i
def square(n):
    return n*n
def cube(n):
    return n*n*n
def choice(t):
    if t=='sqrt':
        return sqrt
    elif t=='square':
        return square
    elif t=='cube':
        return cube

In [171]:
choice('sqrt')
print(sqrt(4))
print(sqrt(144))

2
12

In [172]:
choice("cube")

In [173]:
cube(3)

27

# Python Date and time:

In [174]:
from datetime import datetime

In [175]:
crnt=datetime.now()

In [176]:
day=crnt.day
day

26

In [177]:
year=crnt.year
year

2022

In [178]:
hour=crnt.hour
hour

11

In [179]:
minute=crnt.minute
minute

56

In [180]:
second=crnt.second
second

17

In [181]:
crnt.minute

56

In [182]:
crnt.timestamp

In [183]:
month=crnt.month

In [184]:
print(f'{day}/{month}/{year}, {hour}:{minute}')

26/7/2022, 11:56

In [185]:
now = datetime.now()
t = now.strftime("%H:%M:%S")
print("time:", t)

time: 11:56:20

In [186]:
time_two = now.strftime("%d/%m/%Y, %H:%M:%S")
print("time two:", time_two)

time two: 26/07/2022, 11:56:20

In [187]:
date=datetime.now()
time=now.strftime('%X')
time

'11:56:20'

In [188]:
date_string = "5 December, 2019"
print("date_string =", date_string)
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 5 December, 2019
date_object = 2019-12-05 00:00:00

In [189]:
today = date.today()
today

datetime.datetime(2022, 7, 26, 11, 56, 21, 388741)

In [190]:
t1 = datetime(year = 2000, month = 12, day = 11)
t2 = datetime(year = 2022, month = 7, day = 24)
diff = t2 - t1
diff

datetime.timedelta(days=7895)

# Exception Handling

In [191]:
try:
    name=input("Your Name:")
    year_born=input('year Born:')
    age=2022-year_born
    print(f'your name is{name}.and your age is{age}')
except:
    print('Error')

Your Name:
year Born:
Error

In [192]:
try:
    name=input("Your Name:")
    year_born=input('year Born:')
    age=2022-year_born
    print(f'your name is{name}.and your age is{age}')
except TypeError:
    print('Type error occured')
except ValueError:
    print('Value error occured')
except ZeroDivisionError:
    print('zero division error occured')

Your Name:
year Born:2000
Type error occured

In [193]:
try:
    name=input("Your Name:")
    year_born=int(input('year Born:'))
    age=2022-year_born
    print(f'your name is {name} And your age is {age}')
except TypeError:
    print('Type error occured')
except ValueError:
    print('Value error occured')
except ZeroDivisionError:
    print('zero division error occured')

Your Name:qasim
year Born:2000
your name is qasim And your age is 22

In [195]:
# It is also shorten the above code 
try:
    name=input("Your Name:")
    year_born=input('year Born:')
    age=2022-year_born
    print(f'your name is {name} And your age is {age}')
except Exception as e:
    print(e)

Your Name:qasim
year Born:2000
unsupported operand type(s) for -: 'int' and 'str'

## Unpacking:

In [196]:
#1:unpacking list:


def sum(a,b,c,d,e):
    return a+b+c+d+e
lst7=[1,2,3,4,5]
print(sum(lst7))

TypeError: sum() missing 4 required positional arguments: 'b', 'c', 'd', and 'e'

In [197]:
# to resolve issue we will use '*' for list
def sum(a,b,c,d,e):
    return a+b+c+d+e
lst7=[1,2,3,4,5]
print(sum(*lst7))

15

In [1]:
countries = ['Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland']
fin,swe,*res=countries
print(fin,swe,res)

Finland Sweden ['Norway', 'Denmark', 'Iceland']

In [199]:
numbers = [1, 2, 3, 4, 5, 6, 7]
one, *middle, last = numbers
print(one, middle, last)

1 [2, 3, 4, 5, 6] 7

In [200]:
#2:unpacking dictionaries (** is used)

In [201]:
def unpac_dic(name ,country ,age):
    return f'{name} and {age}'
dic5={'name':'Qasim','country':'Pakistan',"age":'22'}
print(unpac_dic(**dic5))

Qasim and 22

# Packing

In [202]:
# Sometimes we never know how many arguments need to be passed to a python function. 
# We can use the packing method to allow our function to take unlimited number
# or arbitrary number of arguments.
#PACKING LIST
def pack(*args):
    sum=0
    for i in args:
        sum +=i
    return sum
print(pack(1,2,3))

6

In [203]:
print(pack(4,5,6,78,8,89))

190

In [204]:
#PACKING dICTIONARY

In [205]:
def packdic(**kargs):
    for k in kargs:
        return kargs
print(packdic(name='qasim',country='Pakistan',age=22))

{'name': 'qasim', 'country': 'Pakistan', 'age': 22}

In [206]:
# Spreading
lst_one = [1, 2, 3]
lst_two = [4, 5, 6, 7]
lst = [0, *lst_one, *lst_two]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7]

In [207]:
# Enumerate
for index, item in enumerate([20, 30, 40]):
    print(index, item)

0 20
1 30
2 40

In [208]:
countries = ['Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland']
for index, i in enumerate(countries):
    if i == 'Iceland':
        print(f'The country {i} has been found at index {index}')

The country Iceland has been found at index 4

In [209]:
#Zip
frnd1=['haider','khawer','Raza']
frnd2=['wasi','baqir','hamza']
frnd12=[]
for f1,f2 in zip (frnd1,frnd2):
    frnd12.append({'scl_frnd':f1,'friend':f2})
print(frnd12)

[{'scl_frnd': 'haider', 'friend': 'wasi'}, {'scl_frnd': 'khawer', 'friend': 'baqir'}, {'scl_frnd': 'Raza', 'friend': 'hamza'}]

# Regular Expressions(Regex)

In [210]:
import re

In [211]:
txt = 'I love to teach python and javaScript '
match=re.match('I love to',txt,re.I)
print(match)

<re.Match object; span=(0, 9), match='I love to'>

In [212]:
start,end=match.span()
print(start,end)

0 9

In [213]:
print(txt[start:end])

I love to

In [214]:
txt = 'I love to teach python and javaScript'
match=re.search('I love to',txt,re.I)
print(match)

<re.Match object; span=(0, 9), match='I love to'>

In [215]:
txt = 'I love to teach python and javaScript,because python is best language'
match=re.findall('python',txt,re.I)
print(match)

['python', 'python']

In [216]:
txt = 'I love to teach python and javaScript,because python is best language'
match=re.findall('Python|python',txt)
print(match)

['python', 'python']

In [217]:
# Replacing a Substring
txt = 'I love to teach python and javaScript,because python is best language'
match_replace=re.sub('Python|python','Java',txt)
print(match_replace)

I love to teach Java and javaScript,because Java is best language

In [218]:
txt = '''%I a%m te%%a%%che%r% a%n%d %% I l%o%ve te%ach%ing. 
T%he%re i%s n%o%th%ing as r%ewarding a%s e%duc%at%i%ng a%n%d e%m%p%ow%er%ing p%e%o%ple.
I fo%und te%a%ching m%ore i%n%t%er%%es%ting t%h%an any other %jobs. 
D%o%es thi%s m%ot%iv%a%te %y%o%u to b%e a t%e%a%cher?'''

matches = re.sub('%', '', txt)
print(matches)

I am teacher and  I love teaching.
There is nothing as rewarding as educating and empowering people.
I found teaching more interesting than any other jobs.
Does this motivate you to be a teacher?

In [219]:
#spliting
txt = 'I love to teach python and javaScript,because python is best language'
match_split=re.split('Python|python',txt)
print(match_split)

['I love to teach ', ' and javaScript,because ', ' is best language']

In [220]:
regex_pattern=r'python'
txt = 'I love to teach python and javaScript,because python is best language'
matches = re.findall(regex_pattern, txt)
print(matches)

['python', 'python']

In [221]:
#  Metacharacters ([],\,.,.:,{},^,$,)etc

In [222]:
txt = 'I love to teach python and javaScript,because python is best language'
match=re.findall('[Pp]ython',txt)
print(match)

['python', 'python']

In [223]:
txt = 'I love to teach python and javaScript,because python is best language'
match=re.findall('[Pp]ython',txt)
print(match)

['python', 'python']

In [224]:
patt=r'\d'
txt = 'I love to teach python and javaScript,because python  is 1 of best language'
match=re.findall(patt,txt)
print(match)

['1']

In [225]:
patt=r'\d'
txt = 'I love to teach python and javaScript,because python  is 1 of best language,December 6,  2019 and revised on July 8, 2021'
match=re.findall(patt,txt)
print(match)

['1', '6', '2', '0', '1', '9', '8', '2', '0', '2', '1']

In [226]:
# to make it better
patt=r'\d+'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['1', '6', '2019', '8', '2021']

In [227]:
patt=r'[a].'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['ac', 'an', 'av', 'aS', 'au', 'an', 'ag', 'an']

In [228]:
patt=r'[a].+'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['ach python and javaScript,because python  is 1 of best language,', 'and revised on July 8, 2021']

In [229]:
patt=r'[a].*'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['ach python and javaScript,because python  is 1 of best language,', 'and revised on July 8, 2021']

In [230]:
patt=r'\d{4}'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['2019', '2021']

In [231]:
patt=r'^I'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['I']

In [232]:
patt=r'[^I]+'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

[' love to teach python and javaScript,because python  is 1 of best language,\nDecember 6,  2019 and revised on July 8, 2021']

In [233]:
patt=r'[^A-Za-z ]+'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

[',', '1', ',\n', '6,', '2019', '8,', '2021']

In [234]:
patt=r'[a].?'
txt = '''I love to teach python and javaScript,because python  is 1 of best language,
December 6,  2019 and revised on July 8, 2021'''
match=re.findall(patt,txt)
print(match)

['ac', 'an', 'av', 'aS', 'au', 'an', 'ag', 'an']

# String Formating

In [235]:
price=45
mystring='this pen is of {}'
print(mystring.format(price))

this pen is of 45

In [236]:
#to set floating point value
price2=23.00888
mystring2='this pen is of {:.2f}'
print(mystring2.format(price2))

this pen is of 23.01

In [237]:
age = 22
name = "qasim"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is qasim. qasim is 22 years old.

# File Handling

In [238]:
f=open('C:/Users/HP/Desktop/jij.txt')
text=f.read()
print(text)
f.close()

Program 1:
Input fruits = ["Apple","Apple","Orange","Strawberry","Strawberry","Banana","Apple"]
Output: [{"Apple":2},{"Orange":1},{"Strawberry":2},{"Banana":1},{"Apple":1}]

Program2:
data = [
[1,2,3],
[1,2,3],
[1,2,3],
]

Output = [
[1,1,1],
[2,2,2],
[3,3,3]
]

tranponse
This text has to be appended at the end
This text has to be appended at the end
program 2 is doneprogram 2 is doneprogram 2 is done

browser opening model

In [239]:
f=open('C:/Users/HP/Desktop/jij.txt')
text=f.readlines()
print(text)
print(type(text))
f.close()

['Program 1:\n', 'Input fruits = ["Apple","Apple","Orange","Strawberry","Strawberry","Banana","Apple"]\n', 'Output: [{"Apple":2},{"Orange":1},{"Strawberry":2},{"Banana":1},{"Apple":1}]\n', '\n', 'Program2: \n', 'data = [\n', '[1,2,3],\n', '[1,2,3],\n', '[1,2,3],\n', ']\n', '\n', 'Output = [\n', '[1,1,1],\n', '[2,2,2],\n', '[3,3,3]\n', ']\n', '\n', 'tranponse\n', 'This text has to be appended at the end\n', 'This text has to be appended at the end\n', 'program 2 is doneprogram 2 is doneprogram 2 is done\n', '\n', 'browser opening model\n']
<class 'list'>

In [240]:
f=open('C:/Users/HP/Desktop/jij.txt')
text2=f.read().splitlines()
text2

['Program 1:',
 'Input fruits = ["Apple","Apple","Orange","Strawberry","Strawberry","Banana","Apple"]',
 'Output: [{"Apple":2},{"Orange":1},{"Strawberry":2},{"Banana":1},{"Apple":1}]',
 '',
 'Program2: ',
 'data = [',
 '[1,2,3],',
 '[1,2,3],',
 '[1,2,3],',
 ']',
 '',
 'Output = [',
 '[1,1,1],',
 '[2,2,2],',
 '[3,3,3]',
 ']',
 '',
 'tranponse',
 'This text has to be appended at the end',
 'This text has to be appended at the end',
 'program 2 is doneprogram 2 is doneprogram 2 is done',
 '',
 'browser opening model']

In [241]:
# to open and close by itself
with open('C:/Users/HP/Desktop/jij.txt') as f:
    print(f.read())

Program 1:
Input fruits = ["Apple","Apple","Orange","Strawberry","Strawberry","Banana","Apple"]
Output: [{"Apple":2},{"Orange":1},{"Strawberry":2},{"Banana":1},{"Apple":1}]

Program2:
data = [
[1,2,3],
[1,2,3],
[1,2,3],
]

Output = [
[1,1,1],
[2,2,2],
[3,3,3]
]

tranponse
This text has to be appended at the end
This text has to be appended at the end
program 2 is doneprogram 2 is doneprogram 2 is done

browser opening model

In [242]:
# Append
with open('C:/Users/HP/Desktop/jij.txt',"a") as f:
    txt3=f.write('program 2 is done')
    print(txt3)

17

In [243]:
with open('C:/Users/HP/Desktop/qasim.txt',"w") as f:
    txt3=f.write('program 2 is done.first program is also done although have some limitations')
    print(txt3)

75

In [244]:
import os
os.remove('C:/Users/HP/Desktop/qasim.txt')

In [245]:
# If the file does not exist, the remove method will raise an error, so it is good to use a condition like this:
if os.path.exists('C:/Users/HP/Desktop/qasim.txt'):
    os.remove('C:/Users/HP/Desktop/qasim.txt')
else:
    print('file not exist')

file not exist

# Python JSON

In [246]:
import json

In [247]:
#jason to dictionary
myjson='''{
    "name": "Asabeneh",
    "country": "Finland",
    "city": "Helsinki",
    "skills": ["JavaScrip", "React", "Python"]
}'''
mydict=json.loads(myjson)
print(type(mydict))
mydict

<class 'dict'>

{'name': 'Asabeneh',
 'country': 'Finland',
 'city': 'Helsinki',
 'skills': ['JavaScrip', 'React', 'Python']}

In [248]:
#dictionary to json
mydict2={
    "name": "Asabeneh",
    "country": "Finland",
    "city": "Helsinki",
    "skills": ["JavaScrip", "React", "Python"]
}
myjson2=json.dumps(mydict2)
print(type(myjson2))
print(myjson2)

<class 'str'>
{"name": "Asabeneh", "country": "Finland", "city": "Helsinki", "skills": ["JavaScrip", "React", "Python"]}

In [249]:
# use indent to make it clear
mydict2={
    "name": "Asabeneh",
    "country": "Finland",
    "city": "Helsinki",
    "skills": ["JavaScrip", "React", "Python"]
}
myjson2=json.dumps(mydict2,indent=4)
print(type(myjson2))
print(myjson2)

<class 'str'>
{
    "name": "Asabeneh",
    "country": "Finland",
    "city": "Helsinki",
    "skills": [
        "JavaScrip",
        "React",
        "Python"
    ]
}

In [250]:
mydict3={
    "name": "Asabeneh",
    "country": "Finland",
    "city": "Helsinki",
    "skills": ["JavaScrip", "React", "Python"]
}
with open('C:/Users/HP/Desktop/qasim.json','w',encoding='utf-8') as f:
    json.dumps(mydict3, ensure_ascii=False, indent=4)

In [251]:
#CSV
import csv
with open('C:/Users/HP/Desktop/Pandas/new.csv') as f:
    read=csv.reader(f)
    print(read)

<_csv.reader object at 0x00000148FD18D280>

In [252]:
import csv
with open('C:/Users/HP/Desktop/Pandas/new.csv') as f:
    read=csv.reader(f)
    for row in read:
        print(row)

['0', 'Qasim', '29', '550', '91.66666667']
['1', 'Haider', '55', '542', '90.33333333']
['2', 'Khawer', '33', '567', '94.5']
['3', 'Hammad ', '77', '533', '88.83333333']
['4', 'Ahamed', '21', '555', '92.5']

In [253]:
import xlrd
read=xlrd.open_workbook('C:/Users/HP/Desktop/Pandas/Excelfile.xls')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/HP/Desktop/Pandas/Excelfile.xls'

In [1]:
import webbrowser

In [2]:
url_lists = [
    'http://www.python.org',
    'https://www.linkedin.com',
    'https://github.com',
    'https://twitter.com',
    'https://twitter.com'
]

# opens the above list of websites in a different tab
for url in url_lists:
    webbrowser.open_new(url)

# Python object oriented progamming

#### classes and objects:

In [256]:

class myclass:
    x=5
obj=myclass()
print(obj.x)

5

In [264]:
#The __init__() Function(constructor)
class person:
 def __init__(data, name, age):
        data.name=name
        data.age=age
obj1=person('qasim',22)
print(obj1.name)
print(obj1.age)

qasim
22

In [3]:
# Python  destructor
class Employee:
# Initializing
    def __init__(self):
        print('Employee created.')
   # Deleting (Calling destructor)
    def __del__(self):
        print('Destructor called, Employee deleted.')

obj = Employee()
del obj

Employee created.
Destructor called, Employee deleted.

In [265]:
# Object Methods
class person2:
    def __init__(data,name,age):
        data.name=name
        data.age=age 
    def myfunc(data):
        print('My name is '+ data.name)
        print('I am of ',data.age)
obj2=person2('qasim',22)
obj2.myfunc()

My name is qasim
I am of  22

In [266]:
# The self Parameter
class person2:
    def __init__(data,name,age):
        data.name=name
        data.age=age 
    def myfunc(xyz):
        print('My name is '+xyz.name)
        print('I am of ',xyz.age)
obj2=person2('qasim',22)
obj2.myfunc()

My name is qasim
I am of  22

In [267]:
#Object Default Methods
class person2:
    def __init__(data,name='Haider',age=22):
        data.name=name
        data.age=age 
    def myfunc(data):
        return f'{data.name} is {data.age} year old.'
obj1=person2()
print(obj1.myfunc())
obj2=person2('Qasim',22)
print(obj2.myfunc())

Haider is 22 year old.
Qasim is 22 year old.

In [268]:
# Modify Object Properties
class person2:
    def __init__(data,name,age):
        data.name=name
        data.age=age 
    def myfunc(xyz):
        print('My name is '+xyz.name)
        print('I am of ',xyz.age)
obj2=person2('qasim',22)
obj2.age=21
obj2.myfunc()

My name is qasim
I am of  21

In [269]:
del obj2.age

In [270]:
# Method to Modify Class Default Values
class person2:
    def __init__(data,name='Haider',age=22):
        data.name=name
        data.age=age 
        data.cities=[]
    def myfunc(data):
        return f'{data.name} is {data.age} year old.'
    def city(data,city):
        data.cities.append(city)

obj1=person2()
print(obj1.myfunc())
obj1.city('city:Mzd')
obj2=person2('Qasim',22)
print(obj2.myfunc())
print(obj1.cities)

Haider is 22 year old.
Qasim is 22 year old.
['city:Mzd']

#### Inheritance

In [44]:
class friend:
 def __init__(data, name, age):
        data.name=name
        data.age=age
obj1=friend('qasim',22)
print(obj1.name)
print(obj1.age)
class person4(friend):
    x = person4("Mike", "Olsen")
obj2=friend('qasim',24)
print(obj2.name)
print(obj2.age)

qasim
22
qasim
24

In [46]:
# Use the super() Function
class friend:
 def __init__(data, name, age):
        data.name=name
        data.age=age
obj1=friend('qasim',22)
print(obj1.name)
print(obj1.age)
class person4(friend):
    def __init__(data, name, age):
        super().__init__(fname, lname)
        x = person4("Mike", "Olsen")
obj2=friend('qasim',24)
print(obj2.name)
print(obj2.age)

qasim
22
qasim
24

In [2]:
class myclass:
    def add (self,num1,num2):
        sum=num1+num2
        return sum
obj7=myclass()
obj7.add(2,2)

4